

/* Définition des variables de couleurs et des styles globaux */
:root {
  --blue: #007bff;
  --blue-hover: #0056b3;
  --transition-speed: 0.3s;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Style global pour les boutons */
button {
  background-color: var(--blue);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color var(--transition-speed);
}

button:hover {
  background-color: var(--blue-hover);
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

