<div *ngIf="loading" class="loading-message">
  Chargement...
</div>

<div *ngIf="!loading && !editingFlashcard" class="subject-container">
  <h1>Choisissez une matière</h1>
  <div class="subject-list">
    <button mat-raised-button color="primary" *ngFor="let subject of subjects" (click)="selectSubject(subject)">
      {{ subject }}
    </button>
    <button mat-raised-button color="accent" (click)="showAddFlashcardForm = !showAddFlashcardForm">Ajouter des flashcards</button>
  </div>
</div>

<div *ngIf="showAddFlashcardForm" class="add-flashcard-form">
  <input type="text" [(ngModel)]="newFlashcard.question" placeholder="Entrez la question">
  <input type="text" [(ngModel)]="newFlashcard.answer" placeholder="Entrez la réponse">
  <button mat-raised-button color="primary" (click)="addFlashcard()">Ajouter Flashcard</button>
</div>

<div *ngIf="editingFlashcard" class="edit-flashcard-form">
  <input type="text" [(ngModel)]="editingFlashcard.question" placeholder="Entrez la question">
  <input type="text" [(ngModel)]="editingFlashcard.answer" placeholder="Entrez la réponse">
  <button mat-raised-button color="primary" (click)="saveFlashcard()">Sauvegarder</button>
  <button mat-button (click)="cancelEditFlashcard()">Annuler</button>
</div>

<div *ngIf="selectedSubject && !editingFlashcard" class="flashcard-container">
  <h2>Flashcards pour {{ selectedSubject }}</h2>
  <div *ngFor="let card of flashcards; let i = index" class="flashcard">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ card.question }}</mat-card-title>
      </mat-card-header>
      <mat-card-content *ngIf="card.revealed">{{ card.answer }}</mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="revealAnswer(card)">Révéler la réponse</button>
        <button mat-button (click)="startEditFlashcard(card, i)">Modifier</button>
        <button mat-button (click)="removeFlashcard(i)">Supprimer</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <button mat-stroked-button (click)="selectedSubject = null">Retour aux matières</button>
</div>
