/* Styles spécifiques à AppComponent */
.loading-message {
  text-align: center;
  padding: 20px;
  font-size: 1.5em;
}

.subject-container {
  text-align: center;
  margin-top: 50px;
}

.subject-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.subject-list li {
  background-color: var(--blue);
  color: white;
  padding: 15px 30px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color var(--transition-speed);
}

.subject-list li:hover {
  background-color: var(--blue-hover);
}

.flashcard-container {
  margin-top: 30px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.flashcard {
  margin-bottom: 20px;
  border-bottom: 2px solid #eee;
  padding-bottom: 20px;
}
